[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-autobuild = "*"
myst-parser = "*"
furo = "*"
sphinx-inline-tabs = "*"

[dev-packages]

[requires]
python_version = "3.10"
